<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Speed Zone</title>
    <link rel="stylesheet" href="/css/personalizacao.css" />
</head>
<body class="personalizacao-page">
    <div class="personalizacao-bg" aria-hidden="true"></div>
    <div class="custom-wrapper">
        <header class="barra-topo">
            <a asp-controller="Home" asp-action="Index"><img class="logo-marca" src="/img/logo.png" alt="Speed Zone" /></a>
            <a asp-controller="Usuario" asp-action="Login"><img class="avatar-perfil" src="/img/perfil.png" alt="Perfil do usuário" /></a>
        </header>

        <aside class="custom-menu">
            <div class="custom-menu__heading">
                <span class="custom-menu__title custom-menu__title--underline" data-mode="exterior">EXTERIOR</span>
                <span class="custom-menu__title" data-mode="interior">INTERIOR</span>
            </div>
            <div class="custom-menu__items custom-menu__items--exterior is-active">
                <div class="custom-menu__item" data-trigger-pintura data-item="pintura">
                    <img src="/img/pinturaicon.png" alt="Pintura" />
                    <span>PINTURA</span>
                </div>
                <div class="custom-menu__item" data-trigger-teto data-item="teto">
                    <img src="/img/tetoicon.png" alt="Teto" />
                    <span>TETO</span>
                </div>
                <div class="custom-menu__item" data-trigger-pneus data-item="pneus">
                    <img src="/img/pneusicon.png" alt="Pneus" />
                    <span>PNEUS</span>
                </div>
                <div class="custom-menu__item" data-trigger-pinca data-item="pinca">
                    <img src="/img/pincasicon.png" alt="Pinças" />
                    <span>PINÇAS</span>
                </div>
            </div>
            <div class="custom-menu__items custom-menu__items--interior">
                <div class="custom-menu__item" data-trigger-dashboard data-item="painel">
                    <img src="/img/painelicon.png" alt="Painel" />
                    <span>PAINEL</span>
                </div>
                <div class="custom-menu__item" data-trigger-color data-item="cor">
                    <img src="/img/coricon.png" alt="Cor" />
                    <span>COR</span>
                </div>
                <div class="custom-menu__item" data-trigger-seat data-item="banco">
                    <img src="/img/bancoicon.png" alt="Banco" />
                    <span>BANCO</span>
                </div>
                <div class="custom-menu__item" data-trigger-costura data-item="costura">
                    <img src="/img/costuraicon.png" alt="Costura" />
                    <span>COSTURA</span>
                </div>
            </div>
            <a asp-controller="Pedido" asp-action="Resumo"><button class="custom-menu__cta" type="button">FINALIZAR COMPRA</button></a>
        </aside>
    </div>

    <div class="custom-paint">
        <button class="custom-paint__arrow" type="button" aria-label="Anterior">‹</button>
        <div class="custom-paint__swatches">
            <span class="custom-swatch" data-color="preto" style="background: #0C0C0B;"></span>
            <span class="custom-swatch" data-color="verde" style="background: #578A20;"></span>
            <span class="custom-swatch" data-color="dourado" style="background: #EBBD39;"></span>
            <span class="custom-swatch custom-swatch--active" data-color="laranja" style="background: #c94b24;"></span>
            <span class="custom-swatch" data-color="vermelho" style="background: #AF2025;"></span>
            <span class="custom-swatch" data-color="azul-escuro" style="background: #00174C;"></span>
            <span class="custom-swatch" data-color="cinza-1" style="background: #A0A0A3;"></span>
            <span class="custom-swatch" data-color="azul" style="background: #3460B2;"></span>
            <span class="custom-swatch" data-color="azul-acinzentado" style="background: #2f5167;"></span>
        </div>
        <button class="custom-paint__arrow" type="button" aria-label="Próximo">›</button>
    </div>

    <div class="custom-dashboard">
        <button class="custom-paint__arrow" type="button" aria-label="Anterior">‹</button>
        <div class="custom-dashboard__swatches">
            <span class="custom-dash custom-dash--active" data-dash="painel1" style="background-image: url('/img/painel1.jfif');"></span>
            <span class="custom-dash" data-dash="painel2" style="background-image: url('/img/painel2.jfif');"></span>
            <span class="custom-dash" data-dash="painel3" style="background-image: url('/img/painel3.jfif');"></span>
        </div>
        <button class="custom-paint__arrow" type="button" aria-label="Próximo">›</button>
    </div>

    <div class="custom-wheels">
        <button class="custom-paint__arrow" type="button" aria-label="Anterior">‹</button>
        <div class="custom-wheels__swatches">
            <span class="custom-wheel custom-wheel--active" data-wheel="roda1" style="background-image: url('/img/roda1.png');"></span>
            <span class="custom-wheel" data-wheel="roda2" style="background-image: url('/img/roda2.png');"></span>
            <span class="custom-wheel" data-wheel="roda3" style="background-image: url('/img/roda3.png');"></span>
        </div>
        <button class="custom-paint__arrow" type="button" aria-label="Próximo">›</button>
    </div>

    <div class="custom-roofs">
        <button class="custom-paint__arrow" type="button" aria-label="Anterior">‹</button>
        <div class="custom-roofs__swatches">
            <span class="custom-roof custom-roof--active" data-roof="teto1" style="background-image: url('/img/teto1.png');"></span>
            <span class="custom-roof" data-roof="teto2" style="background-image: url('/img/teto2.png');"></span>
        </div>
        <button class="custom-paint__arrow" type="button" aria-label="Próximo">›</button>
    </div>

    <div class="custom-color">
        <button class="custom-paint__arrow" type="button" aria-label="Anterior">‹</button>
        <div class="custom-color__swatches">
            <span class="custom-color__swatch custom-color__swatch--active" data-color-option="preto" style="background: #000000;"></span>
            <span class="custom-color__swatch" data-color-option="azul" style="background: #3d7484;"></span>
            <span class="custom-color__swatch" data-color-option="marrom" style="background: #4f4b2d;"></span>
            <span class="custom-color__swatch" data-color-option="vermelho" style="background: #832728;"></span>
            <span class="custom-color__swatch" data-color-option="branco" style="background: #cfcabb;"></span>
        </div>
        <button class="custom-paint__arrow" type="button" aria-label="Próximo">›</button>
    </div>

    <div class="custom-seat">
        <button class="custom-paint__arrow" type="button" aria-label="Anterior">‹</button>
        <div class="custom-seat__swatches">
            <span class="custom-seat__swatch custom-seat__swatch--active" data-seat="banco1" style="background-image: url('/img/banco1.jfif');"></span>
            <span class="custom-seat__swatch" data-seat="banco2" style="background-image: url('/img/banco2.jfif');"></span>
        </div>
        <button class="custom-paint__arrow" type="button" aria-label="Próximo">›</button>
    </div>

    <div class="custom-pinca">
        <button class="custom-paint__arrow" type="button" aria-label="Anterior">‹</button>
        <div class="custom-pinca__swatches">
            <span class="custom-pinca__swatch custom-pinca__swatch--active" data-pinca="pincadourado" style="background-image: url('/img/pincadourado.png');"></span>
            <span class="custom-pinca__swatch" data-pinca="pincapreto" style="background-image: url('/img/pincapreto.png');"></span>
            <span class="custom-pinca__swatch" data-pinca="pincavermelho" style="background-image: url('/img/pincavermelho.png');"></span>
        </div>
        <button class="custom-paint__arrow" type="button" aria-label="Próximo">›</button>
    </div>

    <div class="custom-costura">
        <button class="custom-paint__arrow" type="button" aria-label="Anterior">‹</button>
        <div class="custom-costura__swatches">
            <span class="custom-costura__swatch custom-costura__swatch--active" data-costura="costuraamarelo" style="background: #fff;"></span>
            <span class="custom-costura__swatch" data-costura="costuradourado" style="background: #efff08;"></span>
            <span class="custom-costura__swatch" data-costura="costurabranco" style="background: #dfbf0a;"></span>
            <span class="custom-costura__swatch" data-costura="costuraazul" style="background: #00c3ff;"></span>
        </div>
        <button class="custom-paint__arrow" type="button" aria-label="Próximo">›</button>
    </div>

    <script src="/js/personalizacao.js"></script>
    <script src="/js/no-status.js"></script>
</body>
</html>