@model IEnumerable<Sistema_SpeedZone.Models.Pintura>

@{
    ViewData["Title"] = "Seu Carrinho";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Speed Zone</title>
    <link rel="stylesheet" href="/css/PersonalizacaoModelo.css" />
</head>
<body class="personalizacao-page">
    <div class="divImgFundo">
        <img src="~/img/revueltoinicial.png" class="imgCarroMod" />
    </div>
    <div class="custom-wrapper">
        <header class="barra-topo">
            <img class="logo-marca" src="/img/logo.png" alt="Speed Zone" />
            <img class="avatar-perfil" src="/img/perfil.png" alt="Perfil do usuário" />
        </header>

        <aside class="custom-menu">
            <div class="custom-menu__heading">
                <span class="custom-menu__title custom-menu__title--active">INTERIOR</span>
                <span class="custom-menu__title custom-menu__title--underline">EXTERIOR</span>
            </div>
            <div class="custom-menu__items">
                <a asp-controller="Personalizacao" asp-action="Pintura">
                    <div class="custom-menu__item">
                        <img src="/img/pinturaicon.png" alt="Pintura" />
                        <span>PINTURA</span>
                    </div>
                </a>

                <a asp-controller="Personalizacao" asp-action="Teto">
                    <div class="custom-menu__item">
                        <img src="/img/tetoicon.png" alt="Teto" />
                        <span>TETO</span>
                    </div>
                </a>

                <a asp-controller="Personalizacao" asp-action="Pneus">
                    <div class="custom-menu__item">
                        <img src="/img/pneusicon.png" alt="Pneus" />
                        <span>PNEUS</span>
                    </div>
                </a>

                <a asp-controller="Personalizacao" asp-action="Kits">
                    <div class="custom-menu__item">
                        <img src="/img/bodykitsicon.png" alt="Bodykits" />
                        <span>BODYKITS</span>
                    </div>
                </a>
            </div>
        </aside>
        <div class="divOpcoes">
            <img src="~/img/setaEsquerdaOpcao.png" class="imgSetaOpcao" />
            @foreach (var pintura in Model)
            {
                <div class="quadOpcao" style="background-color: @pintura.Codigo">ddj</div>
            }
            <!--<div class="quadOpcao"></div>
            <div class="quadOpcao"></div>
            <div class="quadOpcao"></div>
            <div class="quadOpcao"></div>
            <div class="quadOpcao"></div>
            <div class="quadOpcao"></div>
            <div class="quadOpcao"></div>
            <div class="quadOpcao"></div>
            <div class="quadOpcao"></div>
            <div class="quadOpcao"></div>
            <div class="quadOpcao"></div>
            <div class="quadOpcao"></div>
            <div class="quadOpcao"></div>
            <div class="quadOpcao"></div>
            <div class="quadOpcao"></div>
            <div class="quadOpcao"></div>-->
            <img src="~/img/setaDireitaOpcao.png" class="imgSetaOpcao" />
        </div>
    </div> 
    
</body>
</html>