@{
    ViewData["Title"] = "Painel Cliente";
}

<h1>Painel do usuário</h1>

<p>Informações do usuário</p>

Seja bem-vindo, <span>Nome: @ViewBag.Nome</span>
<p>CPF: @ViewBag.CPF</p>
<p>Email: @ViewBag.Email</p>